@page
@model Prison.Pages.Wardens.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Warden</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warden.EmploymentStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warden.EmploymentStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warden.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warden.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warden.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warden.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warden.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warden.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warden.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warden.Age)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Warden?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
